VSPLogin/wsdl/VspWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://vsp" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://vsp/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vsp">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vsp/xsd">
            <xs:complexType name="AccountData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="signup" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://vsp/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vsp">
            <xs:import namespace="http://vsp/xsd"/>
            <xs:element name="createAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:AccountData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createAccountRequest">
        <wsdl:part name="parameters" element="ns:createAccount"/>
    </wsdl:message>
    <wsdl:message name="createAccountResponse">
        <wsdl:part name="parameters" element="ns:createAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccountInfoRequest">
        <wsdl:part name="parameters" element="ns:getAccountInfo"/>
    </wsdl:message>
    <wsdl:message name="getAccountInfoResponse">
        <wsdl:part name="parameters" element="ns:getAccountInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="VspWebServiceImplPortType">
        <wsdl:operation name="createAccount">
            <wsdl:input message="ns:createAccountRequest" wsaw:Action="urn:createAccount"/>
            <wsdl:output message="ns:createAccountResponse" wsaw:Action="urn:createAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountInfo">
            <wsdl:input message="ns:getAccountInfoRequest" wsaw:Action="urn:getAccountInfo"/>
            <wsdl:output message="ns:getAccountInfoResponse" wsaw:Action="urn:getAccountInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VspWebServiceImplSoap11Binding" type="ns:VspWebServiceImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createAccount">
            <soap:operation soapAction="urn:createAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountInfo">
            <soap:operation soapAction="urn:getAccountInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VspWebServiceImplSoap12Binding" type="ns:VspWebServiceImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createAccount">
            <soap12:operation soapAction="urn:createAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountInfo">
            <soap12:operation soapAction="urn:getAccountInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VspWebServiceImplHttpBinding" type="ns:VspWebServiceImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createAccount">
            <http:operation location="createAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountInfo">
            <http:operation location="getAccountInfo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VspWebServiceImpl">
        <wsdl:port name="VspWebServiceImplHttpSoap11Endpoint" binding="ns:VspWebServiceImplSoap11Binding">
            <soap:address location="http://localhost:8080/VSPLogin/services/VspWebServiceImpl.VspWebServiceImplHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VspWebServiceImplHttpSoap12Endpoint" binding="ns:VspWebServiceImplSoap12Binding">
            <soap12:address location="http://localhost:8080/VSPLogin/services/VspWebServiceImpl.VspWebServiceImplHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VspWebServiceImplHttpEndpoint" binding="ns:VspWebServiceImplHttpBinding">
            <http:address location="http://localhost:8080/VSPLogin/services/VspWebServiceImpl.VspWebServiceImplHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>